:root {
    --favcolor: #ffb016;
}

body {

    background-color: #cce8fe;

    >main {
        width: 100%;
        height: auto;
        overflow-x: hidden;


        >nav {
            width: 100%;
            height: 125px;
            /* background-color: aqua; */
            display: flex;


            * {
                height: 100%;
                display: flex;


            }

            >.button {
                width: 25%;
                height: 40%;
                margin: auto;

                >.btnhref {
                    width: 80%;

                    &:hover {
                        background-color: black;
                    }
                }
            }

            >.secTop {
                width: 60%;
                /* border: 2px solid red; */
                justify-content: center;
                align-items: center;

                >ul {
                    width: 100%;
                    justify-content: center;
                    align-items: center;



                    >.text {
                        font-size: 18px;
                        margin: auto 20px;
                        align-items: center;
                        justify-items: center;
                        text-transform: capitalize;

                        &:hover {
                            color: var(--favcolor);
                        }

                        &:nth-of-type(1) {
                            background-color: var(--favcolor);
                            justify-content: center;
                            align-items: last baseline;
                            width: 100px;
                            height: 10px;
                        }
                    }
                }


            }

            >.logo {
                width: 20%;
                height: 100%;
                /* border: 2px solid black; */
                display: flex;
                justify-content: end;
                align-items: end;

                >figure {

                    width: 40%;
                    height: 60px;

                    /* border: 2px solid blueviolet;
                     */
                    >img {
                        width: 100%;


                    }

                }
            }
        }

        >.sec1 {
            width: 100%;
            height: 900px;
            /* border: 2px solid black; */
            margin: auto 0;
            margin-left: 30px;
            background-image: url(../image/bg1.jpg);
            background-size: cover;


            * {
                flex-wrap: wrap;
                margin: 10px;
                justify-content: center;
            }

            >.introduce {
                width: 100%;
                height: 100%;


                /* border: 2px solid red; */




                >div {
                    width: 50%;
                    height: 200px;
                    /* border: 2px solid black; */
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin: 0 50px;

                    >img {

                        width: 20px;
                        height: 20px;
                        height: auto;
                        /* border: 2px solid black; */

                    }

                    >.text {
                        display: flex;
                        justify-content: left;
                        /* border: 2px solid saddlebrown; */
                        width: 100%;
                        flex-wrap: wrap;
                        font-size: 15px;

                        &:hover {
                            color: var(--favcolor)
                        }


                    }
                }

                >h1 {
                    color: var(--favcolor);
                    font-size: 100px;
                    margin-top: 40px;



                }

                >.text {

                    font-size: 30px;
                }

            }

        }

        .container {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            /* border: 2px solid black; */

            >figure {
                margin-top: 50px;
                width: 70%;
                height: 70%;
                font-size: 40px;
                margin: 60px;
                

                /* color: black;
                border: 2px solid black; */
                &:nth-of-type(1) {
                    grid-area: 1/ 1/ span 1/ span 1;

                }

                &:nth-of-type(2) {
                    grid-area: 2/ 1/ span 2 / span 1;
                }

                &:nth-of-type(3) {
                    grid-area: 1/ 2/ span 1 / span 1;
                }

                &:nth-of-type(4) {
                    grid-area: 2/ 2/ span 1 / span 1;
                }

                &:nth-of-type(5) {
                    grid-area: 3/ 2/ span 1 / span 1;
                }

                &:nth-of-type(6) {
                    grid-area: 1/ 3/ span 2 / span 1;
                }

                &:nth-of-type(7) {
                    grid-area: 3/ 3/ span 1 / span 1;
                }

                &:nth-of-type(8) {
                    grid-area: 1/ 4/ span 1 / span 1;
                }

                &:nth-of-type(9) {
                    grid-area: 2/ 4 / span 2 / span 1;
                }

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

            }

            >figcaption {
                width: 100%;
                height: 20%;
                font-size: 20px;

                /* color: black; */
                &:hover {
                    color: var(--favcolor);
                }

                &:nth-of-type(1) {
                    margin: -40px 60px;
                    grid-area: 2/1 / span 1/ span 1;
                }

                &:nth-of-type(2) {
                    grid-area: 4/1 / span 1/ span 1;
                    margin: -150px 60px;
                }

                &:nth-of-type(3) {
                    grid-area: 2/2 / span 1/ span 1;
                    margin: -40px 60px;
                }

                &:nth-of-type(4) {
                    grid-area: 3/2 / span 1/ span 1;
                    margin: -40px 60px;
                }

                &:nth-of-type(5) {
                    grid-area: 4/2 / span 1/ span 1;
                    margin: -30px 60px;
                }

                &:nth-of-type(6) {
                    grid-area: 3/ 3 / span 1/ span 1;
                    margin: -150px 60px;
                }

                &:nth-of-type(7) {
                    grid-area: 5/ 3 / span 1/ span 1;
                    margin: -30px 60px;
                }

                &:nth-of-type(8) {
                    grid-area: 2/ 4 / span 1/ span 1;
                    margin: -40px 60px;
                }

                &:nth-of-type(9) {
                    grid-area: 4/ 4 / span 1/ span 1;
                    margin: -140px 60px;
                }

            }
        }


    }

}